.hero {
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/background/mobile/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 112px;
  padding-bottom: 112px;

  text-align: center;
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 767px) and (min-resolution: 192dpi),
  screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/mobile/bg@2x.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 3),
  screen and (max-width: 767px) and (min-resolution: 288dpi),
  screen and (max-width: 767px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/mobile/bg@3x.jpg);
  }
}

/* ----- tablet hero bg ----- */
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/tablet/bg.jpg);
    max-width: 786px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/tablet/bg@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3),
  screen and (min-width: 768px) and (min-resolution: 288dpi),
  screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/tablet/bg@3x.jpg);
  }
}

/* ----- desktop hero bg ----- */

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/desktop/bg.jpg);

    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/desktop/bg@2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3),
  screen and (min-width: 1200px) and (min-resolution: 288dpi),
  screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/desktop/bg@3x.jpg);
  }
}

.hero-title {
  max-width: 318px;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;

  color: var(--primary-title-color-light);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;

  @media screen and (min-width: 768px) {
  & {
    max-width: 492px;
    margin-bottom: 40px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 1200px) {
  & {
    margin-bottom: 48px;
  }
}
}

.hero-btn {
  border: none;
  background-color: var(--primary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 170px;

  font-family: var(--primary-font-title);
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-title-color-light);
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color var(--time-and-style-of-transition);

  &:hover,
&:focus {
  background-color: #404bbf;
}
}
