.logo {
  color: var(--primary-accent-color);
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
 & {
    margin-right: 123px;
  }
}
@media screen and (min-width: 1200px) {
  & {
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
}

.logo-header {
  color: var(--primary-title-color-dark);
}
