.header-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: none;

  @media screen and (min-width: 768px) {
    & {
      display: flex;
      gap: 40px;
    }
  }
}

.menu-link {
  position: relative;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 22px;

  color: var(--primary-title-color-dark);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color var(--time-and-style-of-transition);

  &:hover,
  &:focus {
    color: var(--primary-accent-color);
  }

  @media screen and (min-width: 1200px) {
    & {
      padding-bottom: 24px;
    }
  }
}

.corrent {
  color: var(--primary-accent-color);

  &::after {
    position: absolute;
    bottom: -1px;
    display: block;
    opacity: 1;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--primary-accent-color-hover);
  }
}
